<head>
  <title><%- config.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
  <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
  <style>
  #footer {
      background-color: #f1f1f1
  }
  .sidebar{
      background-color: #f1f1f1
  }
  .tags {
      background-color: #f1f1f1
      margin-top: -60px;/*等于footer的高度*/
      height: 60px;
  }
  .mobile-menu,.mobile-text {
    display: none
  }
  .post,.aside{
      transition-duration: 0.5s; //停留时间显示
  }
  .post:hover,.aside:hover{
      -webkit-box-shadow: #ccc 0px 10px 10px;
      -moz-box-shadow: #ccc 0px 10px 10px;
      box-shadow: #ccc 0px 10px 10px;
      background-color: #f1f1f1;
      border:0px solid;
      border-radius:25px;

  }
  .post-title-link {
    transition-duration: 0.5s
  }
  .post-title-link:hover {
    color: #222
  }



  @media screen and (max-width: 800px) {
    .aside {
      display: none
    }
    #footer {
      content: "This is Is A Page For Mobile Phoen"
    }
    .mobile-menu,.mobile-text {
      display: inline-block

  </style>
</head>
